body {
    background-image: linear-gradient(to right top, #04031d, #0b031e, #11031f, #16031f, #1a031f);
    width: 100%;
    height: 100%;
    overflow: hidden;
}


/*The style settings for star sky*/
.star {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0.2;
    border: 2px solid transparent;
    border-bottom: 4px solid #fff;
    animation: flash 2s infinite linear;
}

    .star::before {
        content: "";
        position: absolute;
        left: -2px;
        top: 4px;
        border: 2px solid transparent;
        border-top: 4px solid #fff;
    }

@keyframes flash {
    20% {
        opacity: 0.2;
    }

    40% {
        opacity: 0.5;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    100% {
        opacity: 0.2;
    }
}

.starsky {
    position: absolute;
    z-index: -20;
}

/*The styles for character image*/
.stardelo {
    z-index: 30; /*make the image can cover above the container frame of form*/
    position: absolute;
    margin-left: 54%;
    margin-top: 7%;
    width: 20%;
    transform: scale(0.6);
}

/*The container to locate the contents of form*/
.container {
    margin-top: 5%;
    position: absolute;
    left: 21%;
    height: 80%;
    width: 55%;
    background-color: rgba(227, 209, 232, 0.8);
    border-radius: 30px;
    z-index: 20;
    border: 1px solid rgba(227, 209, 232, 0);
}

.container .formCont .formTitle {
    margin-top: 20px;
}

/*The styles for the title of form*/
.container .formCont .formTitle .titleCont {
    margin-left: 23%;
    color: whitesmoke;
    font-family: Garamond, serif;
    font-size: 32pt;
    font-weight: bolder;
    text-align: center;
    text-shadow:3px 3px 5px black;
    letter-spacing: 1px;
}

/*The general styles for table contents*/
.container .formCont .formTable {
    margin-top: 30px;
    margin-left: 7%;
    line-height: 55px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 19px;
    font-weight: 900;
}

/*Set a fixed width for left part of the row*/
.container .formCont .formTable .rowTitle {
    width: 27%;
}

/*The style for the input frame*/
.container .formCont .formTable .inputFrame {
    margin-right: 20px;
    padding-left: 10px;
    height: 40px;
    width: 40%;
    background-color: rgba(67, 58, 70, 0.2);
    border: 5px;
    border-radius: 5px;
    color: #1C1A1D;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 16px;
    font-weight: 500;
}

/*The input frame of date of birth (year+month+day) is specialized cause the maximum length is 4*/
.container .formCont .formTable .birth {
    margin-right: 7px;
    padding-left: 5px;
    padding-right: 5px;
    height: 40px;
    width: 60px;
    background-color: rgba(67, 58, 70, 0.2);
    border: 0px;
    border-radius: 5px;
    color: #1C1A1D;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/*The style of the button to generate age based on the year input*/
.container .formCont .formTable .ageButton {
    margin-right: 15px;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
    height: 45px;
    width: 65px;
    background-color: rgba(67, 58, 70, 0.5);
    border-color: darkgrey;
    border: 0px;
    border-radius: 5px;
    color: whitesmoke;
    font-family: Garamond, serif;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    text-shadow: 1px 1px 2px darkgrey;
    box-shadow: 0 10px 10px -2px rgb(0 0 0 / 0.1);
}

/*The style of the age value*/
.container .formCont .formTable .age {
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 45px;
    width: 65px;
    color: black;
    font-family: Garamond, serif;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}

/*The style of the form submit button*/
.container .formCont .submitButton {
    margin-left: 41%;
    margin-top: 15px;
    height: 60px;
    width: 180px;
    background-color: rgba(67, 58, 70, 0.5);
    border-color: darkgrey;
    border: 0px;
    border-radius: 10px;
    color: whitesmoke;
    font-family: Garamond, serif;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    text-shadow: 1px 1px 2px darkgrey;
    box-shadow: 0 10px 10px -2px rgb(0 0 0 / 0.1);
}

.container .formCont .submitButton:hover {
    background-color: whitesmoke;
    color: black;
    transition: background-color linear 0.5s;
}